<div class="container-fluid">
  <div class="jumbotron index-jumbotron">
    <h2 style="font-size: 40px">Tamagotchi<span class="text-muted">Reloaded</span></h2>
  </div>

</div>

<div class="container">
  <img class= "tama-index" src="http://www.tamatalk.com/pixelmood/assets/angelgotch_3.gif">
  <div class="">
    <a class="hvr-pulse index-btn btn btn-lg btn-primary" href="/create_tama">Get Started <span class="glyphicon glyphicon-menu-right"></span></a>
    <a class="hvr-pulse index-btn btn btn-lg btn-info" href ="https://github.com/courtneyphillips/gosu2">SPACE MARGARITAS <span class="glyphicon glyphicon-glass" aria-hidden="true"></span></a>
    <a class="hvr-pulse index-btn btn btn-lg btn-success" href ="https://github.com/courtneyphillips/gosu-game">AVOCADO FIGHTER <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></a>
  </div>
</div>
