 
<div class="container">
  <div class="jumbotron">
    <h1>Tamagotchi</h1>
    <h2 class="lead">Raise your very own Tamagotchi pet</h2>
    <a class="btn btn-lg btn-primary" href="/create_tama">Get Started <span class="glyphicon glyphicon-menu-right"></span></a>
  </div>

  <h2>Tamagotchi<span class="text-muted">Reloaded</span></h2>
  <p class="lead">Raise your very own Tamagotchi from infancy to adulthood....blah blah blah</p>

</div>

<h1>You're Alive</h1>

<a href="/level_one">Level 1</a>
