<section class="train">

<h1 class="text-center">You Found a Suitcase With $$$MAD MONEY$$$ On That Train</h1>

<img class="juggalo-vid" src = "/img/money3.gif">
<img class="juggalo-vid" src = "/img/money2.gif">
</train>
