<div class="container">
  
<audio src="/audio/juggalo_pixelated_new.wav" autoplay="autoplay"></audio

<h1 class="text-center">WOW, You just got recruited to be a super famous Juggalo! Congrats!</h1>


<img class="juggalo-vid" src = "/img/juggalo_win.gif">
</div>

<a href="/" role="button" class="btn btn-warning">Go Home</a>
