<div class="container">
  <audio src="/audio/new_goat_scene.wav" autoplay="autoplay"></audio>

<h1 class="text-center">Aw Crap, You Got Stuck in Iowa</h1>
<h2 class="text-center">Time to Start a Goat Farm</h2>

<img class="juggalo-vid" src = "/img/goat.gif">

<p class="home-button"><a href="/" role="button" class="btn btn-warning">Go Home</a></p>
</div>
