<head>
<meta http-equiv="refresh" content="2.5; URL='/level/<%= @id %>/<%= @level_id %>'">

</head>

<h1 class="animated infinite bounce text-center">Yippee!</h1>

<img class="juggalo-vid" src = "/img/level_up.jpg">
