

<h1 style="width: 70%" class="money-title text-center">You Found a Suitcase With $$$MAD MONEY$$$ On That Train</h1>
<section class="train">
  <audio src="/audio/new_make_it_rain.wav" autoplay="autoplay"></audio>

  <img style="padding-top: 50px; padding-bottom: 20px;" class="juggalo-vid" src = "/img/rain_money.gif">
  <p class="home-button"><a href="/" role="button" class="btn btn-warning">Go Home</a></p>

</section>
