<section class="create-form">
<div class="container">
    <h1 class="create-life">Create Life</h1><br>


  <form action="/tama/new" method="post">
    <div class="form-group">
      <input style="width: 350px" type="text" name="name" id="name" class="tama-form form-control" placeholder="Pet Name">
    </div>

    <p><button type="submit" class="btn btn-success hvr-pulse-grow">Let's Play</button></p>
  </form>
</div>

<p class="home-button"><a href="/" role="button" class="btn btn-warning">Go Home</a></p>
</section>
