
<h1>Create your Tamagotchi</h1>
<br>
<form action="/tama/new" method="post">
  <input type="text" name="name" id="name" class="form-control" placeholder="Pet Name">
  <br><br>
  <button type="submit" class="btn btn-success hvr-pulse-grow">Let's Play</button>
</form>
