html {
  height: 100%
}

body {
  font-family: 'Press Start 2P', cursive;
}

.jumbotron {
  height: 175px;
}

.index-jumbotron {
  height: 200px;
}

.choice {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.choice3 {
  width: 300px;
}

.death {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.juggalo-vid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.tama-vid {
  width: 400px;
}

.train {
  background-image: url("img/money_back2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  position: relative;
  min-width: 100%;
  height: 100%;
  color: purple;
}

.update-btn {
  font-size: 10px;
  width: 200px;
  margin-top: 12px;
  margin-right: 0px;
}

.tama-index {
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.index-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  margin-top: 20px;
}

.baby-tama {
  width: 375px;
}

.question1 {
  font-size: 30px;
}

.create-form {
  background-image: url("img/create.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  position: relative;
  min-width: 100%;
  height: 100%;
  color: purple;
}

.home-button, .money-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
